name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 'nightly'
            os: ubuntu-latest
            arch: x64
          - version: '1'
            os: ubuntu-latest
            arch: x64
          - version: '1.0'
            os: ubuntu-latest
            arch: x64
          - version: '1'
            os: windows-latest
            arch: x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - shell: bash
        run: julia --color=yes --project -e "using Pkg; Pkg.develop(Pkg.PackageSpec(url=\"https://github.com/jump-dev/MatrixOptInterface.jl\")); Pkg.instantiate()"
      - uses: julia-actions/julia-buildpkg@v1
      - shell: bash
        run: julia --color=yes --project -e "using Pkg; Pkg.add(\"OSQP\"); Pkg.build(\"OSQP\")"
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - shell: bash
        run: julia --color=yes --project -e 'using Pkg; Pkg.develop(Pkg.PackageSpec(url="https://github.com/jump-dev/MatrixOptInterface.jl")); Pkg.instantiate()'
      - shell: bash
        run: julia --project=docs -e "using Pkg; Pkg.develop(PackageSpec(path=pwd()))"
      - shell: bash
        run: julia --project=docs -e "using Pkg; Pkg.instantiate()"
      - shell: bash
        run: |
          julia --project=docs -e '
            using Documenter: doctest
            using DiffOpt
            doctest(DiffOpt)'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
