name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '1'
            os: ubuntu-latest
            arch: x64
          - version: '1'
            os: windows-latest
            arch: x64
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v3
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v3
      - uses: julia-actions/julia-runtest@v3
        env:
          DATADEPS_ALWAYS_ACCEPT: true # For MLDatasets.MNIST
      - uses: julia-actions/julia-processcoverage@v3
      - uses: codecov/codecov-action@v3
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    env:
      # Fix for Plots with GR backend, see https://github.com/jheinen/GR.jl/issues/422
      GKSwstype: nul
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v3
        with:
          version: '1'
      - shell: bash
        run: julia --project=docs -e "using Pkg; Pkg.develop(PackageSpec(path=pwd()))"
      - shell: bash
        run: julia --project=docs -e "using Pkg; Pkg.instantiate()"
      - shell: bash
        env:
          DATADEPS_ALWAYS_ACCEPT: true # For MLDatasets.MNIST
        run: |
          julia --project=docs -e '
            using Documenter: doctest
            using DiffOpt
            doctest(DiffOpt)'
      - run: julia --project=docs docs/make.jl
        env:
          DATADEPS_ALWAYS_ACCEPT: true # For MLDatasets.MNIST
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
